.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 20px;

    h1 {
      font-size: 28px;
    }

    h4 {
     font-size: 14px; 
    }

  .resp-menu {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;

    a {
      color: $textColor;
      font-size: 13px;
      padding: 10px 20px;

      .no-touch &:hover {
        background: $activeColor;
        border-radius: 6px;
      }
    }
  }
}

@media (max-width: $xs) {
  .header {
    margin: 20px 0 25px;

    h1 {
      font-size: 24px;
    }

    h4 {
     font-size: 12px; 
    }

    .nav-list {
      display: flex;
      position: fixed;
      top: 5px;
      right: -100%;
      bottom: 0;
      flex-direction: column;
      text-align: center;
      z-index: 10;
      transition: right 0.2s ease;
      background-color: $secondaryColor;

      &.active {
        right: 0;
      }

      li {
        width: 100%;

        a {
          display: block;
          font-size: 18px;
          width: 100%;
          padding: 20px 10px;
          background-color: $primaryColor;
          border-bottom: 2px solid $activeColor;

          &:active {
            background-color: $activeColor;
          }
        }
      }
    }

    #sandwich-btn {
      width: 40px;
      height: 40px;
      background: url(/icons/paralel.png) no-repeat;
      background-size: 100%;
      border-radius: 30%;

      &:active {
        background-color: $activeColor;
      }
    }
  }
}


