.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 20px;

  .logo {
    h1 {
      font-size: 28px;
    }

    h4 {
     font-size: 14px; 
    }
  }

  .nav-list {
    display: flex;
    align-items: center;

    a {
      color: $textColor;
      font-size: 13px;
      padding: 10px 20px;

      &:hover {
        background: $activeColor;
        border-radius: 6px;
      }
    }
  }
}


